.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  height: 600px;
  width: 600px;
}

.App-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  height: 20px;
  background: red;
  transform: scaleX(0);
  transform-origin: center left;
}